*{
	box-sizing: border-box;
}
body{
	 margin: 0;
	 background-color: rgb(40, 44, 52);
}
.nav{  
	padding: 20px;
	margin-bottom: 10px;
} 
.nav img{ 
	background: #eee;
	padding: 10px;
	border-radius: 0 20px 0 20px; 
}


nav img{
	max-width: 100px;
	max-height: 64px;
	object-fit: scale-down; 
}


#all{
	 display: flex;
	 padding:0 10px 10px 10px;
	 background: #616161;
 }

 
main{
	text-align: center;
	flex: 50%;
}
#codes{
   	padding: 10px ;
    height: 78vh; 
    min-width: 100%;  
    resize: none
 	margin-right: 10px;
    background-color: rgb(40, 44, 52);
    color: white;
    border: none;
    outline: none;
	font-size: 1.8em;
}
#headCon{
	 display: flex; 
	 background: #616161;
	 justify-content: space-between;  
}
.btn {
	flex: 50%;
    display: flex;  
	}
	
.btn a{ 
	padding: 10px 20px;   
	font-size:28px; 
	color: #e0e0e0;
	text-decoration: none;
}
.btn a:hover{ 
  color: #616161;
  background:  #fafafa;
  
}
.size-text{
	flex: 50%;
	direction: rtl;
	padding: 10px 20px;
	color: white;
	font-size: 1.3em;
	}
#headCon .btn button{  
    border: none;
	padding: 12px 18px;
	font-weight: bold;
    color: white;
	border: none;
	outline: none;
	background: #66bb6a; 
}
 #headCon .btn button:hover{
  color: #616161;
  background:  #e0e0e0;
 } 

#title-result{
	padding: 10px;
	border-bottom: 2px solid #424242;
	margin: 8px 0;
	font-weight: bold;
}
 #result{
	 max-width: 100% !important;
     flex: 50%; 
	 height: 78vh;
	 overflow: auto;
	 background-color: white;
	 margin-left: 10px;
	
 }







